<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Simple Map Sample</title>
<meta charset="utf-8">
<style>
/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  height: 400px;
  width: 600px;
}
</style>
</head>
  
<body>
<div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
<script>
  var map;
  var marker;
  var infoWindow;
  var center = {
  lat: 35.62982, 
  lng: 139.794242
};
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.62982, lng: 139.794242},
      center: center, 
      zoom: 15
    });
    marker = new google.maps.Marker({ // マーカーの追加
        position: center, // マーカーを立てる位置を指定
      map: map // マーカーを立てる地図を指定
   });
    infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<div class="sample">戸澤仲良し保育園</div>' // 吹き出しに表示する内容
  });
 marker.addListener('click', function() { 
     infoWindow.open(map, marker); 
    });
  }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8yMRMzlCS4Zzo-cp9sW1Z4gP8tc78PnM&callback=initMap" async defer></script>
</body>
</html>