@charset "utf-8";

body{
  font-family: serif;
  background-color: #ffffff;
  columns: #111111;
  height: 5000px;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ヘッダー */

.top-header{
  background-color: #f1f8fe;
  padding: 20px 0;
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}




.breadth img{
  width: 100vw
}

.top-contentsText{
  display: block;
  text-align: center;
  flex-direction: row; 
  align-items: center;
  position: absolute;
  top: 50px; 
}

img.general{
  width: 25%;
  height: 25%;
  top: 500px; 
}

img.enterprise{
  width: 25%;
  height: 25%;
  padding-top: 600px;
}



.top-contents h2{
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(20, 20, 20, .8);
  color: #fff;
  padding: 10px 20px;
  line-height: 1.4;
  letter-spacing: .05em;
  border-radius:  5px;
}

.user-page{
  width: 100%;
  height: 500px;
}

.user-page h2{
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}


